{% extends "layout.html" %}

{% block title %}
    histórico 
{% endblock %}

{% block main %}
   <h2> Históricos </h2>
   <table class="table">
        <thead>
         <tr>
              <th scope="col">Símbolo </th>
              <th scope="col">Ações </th>
              <th scope="col">Preços</th>
              <th scope="col">Data</th>
         </tr>
        </thead>
        <tbody>
         {% for row in transactions%}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["prices"] }}</td>
                <td> {{ row["data"] }}</td>
            </tr>
         {% endfor %}
         </tbody>
    </table>
 
{% endblock %}
 
 